@model Laptop.Models.Warranty

@{
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<style>
    .your-custom-block {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        margin: 0 auto;
    }

    .bh-tits {
        color: red;
    }
</style>

<div class="your-custom-block">
    <h2 style="text-align:center" class="bh-tits">Thông tin bảo hành</h2>
    <div class="bh-tgbh">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <p class="text-danger">@ViewBag.Error</p>
        }
        else
        {
            <ul>
                <li><label>Mã Order:</label> <span>@Model.OrderId </span></li>
                <li><label>Ngày Tạo:</label> <span>@Model.CreateDate?.ToString("dd-MM-yyyy HH:mm:ss")</span></li>
                <li><label>Ngày Dự Kiến Hoàn Thành:</label> <span>@Model.EndDate?.ToString("dd-MM-yyyy HH:mm:ss") </span></li>
                <li><label>Lý Do:</label> <span>@Model.Reason  </span></li>
                <li><label>Dịch Vụ:</label> <span>@Model.Service  </span></li>
                <li><label>Trạng Thái:</label> <span>@Model.Status  </span></li>
                <li><label>Ghi Chú:</label> <span>@Model.Note  </span></li>
            </ul>
        }
    </div>
</div>