@model IEnumerable<Laptop.Models.CtPhieuNhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdphieunhapNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdspNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdphieunhapNavigation.Idphieunhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdspNavigation.Idsp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdchitietPn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdchitietPn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdchitietPn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
