@model IEnumerable<GiayDep.Models.CtPhieuNhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center font-weight-bold">danh sách phiếu nhập</h1>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create")'">Tạo mới</button>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Ngày nhập
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá
            </th>
            <th>
                Mã phiếu nhập
            </th>
            <th>
                Mã sản phầm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdphieunhapNavigation.Idphieunhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdspNavigation.Idsp)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdchitietPn" class="btn btn-warning">Chỉnh sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.IdchitietPn" class="btn btn-success">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdchitietPn" class="btn btn-danger">Xóa</a>

            </td>
        </tr>
}
    </tbody>
</table>
