<!DOCTYPE html>
<html lang="vi">
@model IEnumerable<Laptop.Models.Tintuc>
@{
    IEnumerable<Brand> Brandname = ViewBag.Brandname as IEnumerable<Brand>;
}
<head>
    <meta charset="UTF-8" />
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="csrf-token" content="pfJdlWNn34gc2bjRakZVdfOswF2fz9chTra5EXTR">
    <title>Snapdragon X Elite với GPU Adreno 4.6 TFLOP c&oacute; thể chơi Baldur&#039;s Gate 3 ở 1080p$30fps</title>
    <meta name="description" content="Nền tảng CPU Snapdragon X Elite đ&atilde; được thử nghiệm với tựa game Baldur&#039;s Gate 3 v&agrave; kh&aacute; bất ngờ khi n&oacute; c&oacute; thể chạy ở 1080p 30fps.">
    <link rel="canonical" href="https://cellphones.com.vn/sforum/snapdragon-x-elite-choi-game">
    <meta property="og:site_name" content="Sforum - Trang thông tin công nghệ mới nhất">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:url" content="https://cellphones.com.vn/sforum/snapdragon-x-elite-choi-game">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Snapdragon X Elite với GPU Adreno 4.6 TFLOP c&oacute; thể chơi Baldur&#039;s Gate 3 ở 1080p$30fps">
    <meta property="og:description" content="Nền tảng CPU Snapdragon X Elite đ&atilde; được thử nghiệm với tựa game Baldur&#039;s Gate 3 v&agrave; kh&aacute; bất ngờ khi n&oacute; c&oacute; thể chạy ở 1080p 30fps.">
    <meta property="og:image" content="https://cdn.sforum.vn/sforum/wp-content/uploads/2024/03/Snapdragon-X-Elite-CPU-Adreno-GPU-Gaming-Laptop.jpg">
    <meta property="og:image:width" content="183">
    <meta property="og:image:height" content="30">
    <meta property="og:image:type" content="image/png">
    <meta property="article:published_time" content="2024-03-28T15:47:24+07:00">
    <meta property="article:publisher" content="https://www.facebook.com/SforumTech">
    <meta property="article:modified_time" content="2024-03-28T15:47:24+07:00">
    <meta property="msapplication-TileImage" content="2018/03/cropped-Logo_ico1-270x270.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:label1" content="Ước tính thời gian đọc">
    <meta name="twitter:data1" content="10 phút">
    <meta name="twitter:label2" content="Được viết bởi">
    <meta name="twitter:data2" content="TiZ">
    <meta name="author" content="TiZ">
    <link rel="amphtml" href="https://cellphones.com.vn/sforum/snapdragon-x-elite-choi-game/amp">

    <script type="application/ld+json">
        {
            "$context": "http:\/\/schema.org",
            "$type": "NewsArticle",
            "mainEntityOfPage": {
                "$type": "WebPage",
                "$id": "https:\/\/cellphones.com.vn\/sforum\/snapdragon-x-elite-choi-game"
            },
            "dateCreated": "2024-03-28T15:47:24+07:00",
            "datePublished": "2024-03-28T15:47:24+07:00",
            "dateModified": "2024-03-28T15:47:24+07:00",
            "url": "https:\/\/cellphones.com.vn\/sforum\/snapdragon-x-elite-choi-game",
            "headline": "Snapdragon X Elite v\u1edbi GPU Adreno 4.6 TFLOP c&oacute; th\u1ec3 ch\u01a1i Baldur&#039;s Gate 3 \u1edf 1080p$30fps",
            "description": "N\u1ec1n t\u1ea3ng CPU Snapdragon X Elite \u0111&atilde; \u0111\u01b0\u1ee3c th\u1eed nghi\u1ec7m v\u1edbi t\u1ef1a game Baldur&#039;s Gate 3 v&agrave; kh&aacute; b\u1ea5t ng\u1edd khi n&oacute; c&oacute; th\u1ec3 ch\u1ea1y \u1edf 1080p 30fps.",
            "articleBody": "<strong>N\u1ec1n t\u1ea3ng CPU Snapdragon X Elite \u0111\u00e3 \u0111\u01b0\u1ee3c th\u1eed nghi\u1ec7m v\u1edbi t\u1ef1a game Baldur's Gate 3 v\u00e0 kh\u00e1 b\u1ea5t ng\u1edd khi n\u00f3 c\u00f3 th\u1ec3 ch\u1ea1y \u1edf 1080p 30fps.<\/strong>\r\n\r\nSnapdragon X Elite l\u00e0 m\u1ed9t b\u1ed9 x\u1eed l\u00fd \u0111\u01b0\u1ee3c nhi\u1ec1u ng\u01b0\u1eddi mong \u0111\u1ee3i, n\u00f3 c\u00f3 th\u1ec3 s\u1ebd l\u00e0 \u0111\u1ed1i th\u1ee7 x\u1ee9ng t\u1ea7m c\u1ee7a chip Apple Silicon v\u00e0 v\u1edbi th\u1eed nghi\u1ec7m m\u1edbi nh\u1ea5t th\u00ec c\u00f3 v\u1ebb nh\u01b0 Qualcomm c\u00f2n l\u00e0m t\u1ed1t h\u01a1n nh\u1eefng g\u00ec \u0111\u01b0\u1ee3c k\u1ef3 v\u1ecdng. Qualcomm tuy\u00ean b\u1ed1 r\u1eb1ng h\u1ea7u h\u1ebft c\u00e1c t\u1ef1a game \u0111\u1ec1u c\u00f3 th\u1ec3 ch\u1ea1y t\u1ed1t tr\u00ean nh\u1eefng chi\u1ebfc m\u00e1y t\u00ednh trang b\u1ecb Snapdragon X Elite. C\u00f4ng ty \u0111ang cung c\u1ea5p cho c\u00e1c nh\u00e0 ph\u00e1t tri\u1ec3n ba t\u00f9y ch\u1ecdn \u0111\u1ec3 ch\u1ea1y tr\u00f2 ch\u01a1i tr\u00ean n\u1ec1n t\u1ea3ng d\u1ef1a tr\u00ean Arm, bao g\u1ed3m:\r\n<ul>\r\n \t<li>Ch\u1ea1y g\u1ed1c tr\u00ean ARM64 (Hi\u1ec7u n\u0103ng t\u1ed1t nh\u1ea5t\/Hi\u1ec7u qu\u1ea3 n\u0103ng l\u01b0\u1ee3ng t\u1ed1t nh\u1ea5t)<\/li>\r\n \t<li>Ch\u1ea1y Hybrid ARM64EC - Ch\u01b0\u01a1ng tr\u00ecnh m\u00f4 ph\u1ecfng, Tr\u00ecnh \u0111i\u1ec1u khi\u1ec3n\/Th\u01b0 vi\u1ec7n g\u1ed1c (Hi\u1ec7u n\u0103ng t\u01b0\u01a1ng t\u1ef1)<\/li>\r\n \t<li>Ch\u1ea1y m\u00f4 ph\u1ecfng x64 - Kh\u00f4ng c\u1ea7n c\u00f4ng vi\u1ec7c d\u00e0nh cho nh\u00e0 ph\u00e1t tri\u1ec3n (Hi\u1ec7u n\u0103ng th\u1ea5p h\u01a1n)<\/li>\r\n<\/ul>\r\nCung c\u1ea5p s\u1ee9c m\u1ea1nh \u0111\u1ed3 h\u1ecda cho b\u1ed9 x\u1eed l\u00fd l\u00e0 GPU Adreno c\u00f3 t\u1ed1c \u0111\u1ed9 l\u00ean t\u1edbi 4.6 TFLOP v\u00e0 s\u1ebd h\u1ed7 tr\u1ee3 DX12, DX11, Vulkan, OpenCL th\u00f4ng qua tr\u00ecnh \u0111i\u1ec1u khi\u1ec3n \u0111\u1ed3ng th\u1eddi v\u1eabn duy tr\u00ec h\u1ed7 tr\u1ee3 c\u0169 cho DX9 v\u00e0 OpenGL 4.6. Trong c\u00e1c slide ch\u00ednh th\u1ee9c \u0111\u01b0\u1ee3c tr\u00ecnh b\u00e0y c\u00e1ch \u0111\u00e2y kh\u00f4ng l\u00e2u, Qualcomm \u0111\u00e3 gi\u1edbi thi\u1ec7u hi\u1ec7u su\u1ea5t cao h\u01a1n 80% so v\u1edbi Radeon 780M iGPU \u1edf c\u00f9ng m\u1ee9c c\u00f4ng su\u1ea5t.\r\n<blockquote class=\"twitter-tweet\" data-media-max-width=\"560\">\r\n<p dir=\"ltr\" lang=\"en\">Here's a demo of Baulders Gate 3 running at 1080p hovering around 30FPS, which is perfectly playable! <a href=\"https:\/\/t.co\/ZieiHtzRlN\">https:\/\/t.co\/ZieiHtzRlN<\/a> <a href=\"https:\/\/t.co\/VvFKbUVK5J\">pic.twitter.com\/VvFKbUVK5J<\/a><\/p>\r\n\u2014 Devin Arthur ($Lexcyn) <a href=\"https:\/\/twitter.com\/Lexcyn\/status\/1772295505524973783?ref_src=twsrc%5Etfw\">March 25, 2024<\/a><\/blockquote>\r\n<script async src=\"https:\/\/platform.twitter.com\/widgets.js\" charset=\"utf-8\"><\/script>\r\n\r\nM\u1ed9t video do Devin Arthur ($Lexcyn) quay cho th\u1ea5y chi\u1ebfc laptop trang b\u1ecb Snapdragon X Elite c\u00f3 th\u1ec3 ch\u01a1i Baldur's Gate 3 \u1edf 1080p (kh\u00f4ng r\u00f5 c\u00e0i \u0111\u1eb7t ch\u1ea5t l\u01b0\u1ee3ng). M\u1ee9c khung h\u00ecnh \u0111\u1ea1t \u0111\u01b0\u1ee3c l\u00e0 kho\u1ea3ng 25-30 fps nh\u01b0ng \u0111\u00e1ng ti\u1ebfc ch\u00fang ta kh\u00f4ng bi\u1ebft m\u1ee9c thi\u1ebft l\u1eadp \u0111\u1ed3 h\u1ecda. AMD Ryzen 9 7940HS v\u1edbi Radeon 780M iGPU \u0111\u1ea1t kho\u1ea3ng 25-40 fps khi \u0111\u1eb7t \u1edf thi\u1ebft l\u1eadp cao nh\u1ea5t v\u00e0 \u0103n kho\u1ea3ng 30W.\r\n\r\n[caption id=\"attachment_1034539\" align=\"aligncenter\" width=\"956\"]<img class=\"wp-image-1034539 size-full\" src=\"https:\/\/cellphones.com.vn\/sforum\/wp-content\/uploads\/2024\/03\/cpu-1.jpg\" alt=\"Snapdragon X Elite v\u00e0 m\u1ed9t s\u1ed1 \u0111\u1ed1i th\u1ee7\" width=\"956\" height=\"767\" \/> Snapdragon X Elite v\u00e0 m\u1ed9t s\u1ed1 \u0111\u1ed1i th\u1ee7[\/caption]\r\n\r\nR\u00f5 r\u00e0ng k\u1ebft qu\u1ea3 n\u00e0y cho th\u1ea5y hi\u1ec7u n\u0103ng th\u1ef1c t\u1ebf khi ch\u01a1i game c\u1ee7a Snapdragon X Elite v\u1eabn ch\u01b0a th\u1ec3 b\u1eb1ng Radeon 780M iGPU nh\u01b0ng \u0111\u00e2y l\u00e0 k\u1ebft qu\u1ea3 r\u1ea5t \u0111\u00e1ng mong \u0111\u1ee3i v\u00ec r\u00f5 r\u00e0ng hi\u1ec7n t\u1ea1i c\u00e1c t\u1ef1a game Windows ch\u01b0a t\u1ed1i \u01b0u cho Arm. N\u1ebfu Qualcomm th\u1ef1c s\u1ef1 \u0111\u1ea1t \u0111\u01b0\u1ee3c nhi\u1ec1u \u0111\u1ed9t ph\u00e1 cho c\u00e1c b\u1ed9 x\u1eed l\u00fd c\u1ee7a m\u00ecnh v\u00e0 \u0111\u01b0\u1ee3c \u0111\u00f3n nh\u1eadn r\u1ed9ng r\u00e3i, ch\u1eafc ch\u1eafn trong t\u01b0\u01a1ng lai Microsoft v\u00e0 nhi\u1ec1u nh\u00e0 ph\u00e1t tri\u1ec3n s\u1ebd c\u00f3 phi\u00ean b\u1ea3n Arm cho c\u00e1c ph\u1ea7n m\u1ec1m c\u1ee7a m\u00ecnh. Khi \u0111\u00f3 MacBook s\u1ebd c\u00f3 \u0111\u1ed1i th\u1ee7 v\u1ec1 th\u1eddi l\u01b0\u1ee3ng pin.\r\n\r\n<strong>Xem th\u00eam: <a href=\"https:\/\/cellphones.com.vn\/sforum\/snapdragon-x-elite-lo-hieu-nang\">Chip Snapdragon X Elite c\u1ee7a Qualcomm l\u1ed9 hi\u1ec7u n\u0103ng \u1ea5n t\u01b0\u1ee3ng tr\u00ean Geekbench<\/a><\/strong>\r\n\r\nN\u1ebfu b\u1ea1n \u0111ang t\u00ecm ki\u1ebfm m\u1ed9t chi\u1ebfc laptop \u0111\u1ec3 ph\u1ee5c v\u1ee5 cho nhu c\u1ea7u gi\u1ea3i tr\u00ed, h\u00e3y tham kh\u1ea3o th\u00eam c\u00e1c s\u1ea3n ph\u1ea9m hi\u1ec7n \u0111ang \u0111\u01b0\u1ee3c b\u00e1n t\u1ea1i CellphoneS \u1edf danh s\u00e1ch b\u00ean d\u01b0\u1edbi nh\u00e9!\r\n\r\n<span data-sheets-root=\"1\" data-sheets-value=\"{&quot;1&quot;:2,&quot;2&quot;:&quot;[Product_Listing categoryid=\\&quot;380\\&quot; propertyid=\\&quot;\\&quot; customlink=\\&quot;https:\/\/cellphones.com.vn\/laptop.html\\&quot; title=\\&quot;Danh s\u00e1ch Laptop \u0111ang \u0111\u01b0\u1ee3c quan t\u00e2m nhi\u1ec1u t\u1ea1i CellphoneS\\&quot;]&quot;}\" data-sheets-userformat=\"{&quot;2&quot;:897,&quot;3&quot;:{&quot;1&quot;:0},&quot;10&quot;:1,&quot;11&quot;:3,&quot;12&quot;:0}\">[Product_Listing categoryid=\"380\" propertyid=\"\" customlink=\"https:\/\/cellphones.com.vn\/laptop.html\" title=\"Danh s\u00e1ch Laptop \u0111ang \u0111\u01b0\u1ee3c quan t\u00e2m nhi\u1ec1u t\u1ea1i CellphoneS\"]<\/span>",
            "author": {
                "$type": "Person",
                "name": "TiZ",
                "url": "https:\/\/cellphones.com.vn\/sforum\/author\/dungnguyen"
            },
            "articleSection": ["Tin t\u1ee9c"],
            "image": {
                "$type": "ImageObject",
                "url": "https:\/\/cdn.sforum.vn\/sforum\/wp-content\/uploads\/2024\/03\/Snapdragon-X-Elite-CPU-Adreno-GPU-Gaming-Laptop.jpg",
                "width": 183,
                "height": 30
            },
            "publisher": {
                "$type": "Organization",
                "name": "CELLPHONES",
                "url": "https:\/\/cellphones.com.vn\/",
                "logo": {
                    "$type": "ImageObject",
                    "url": "https:\/\/cellphones.com.vn\/\/wp-content\/uploads\/2020\/03\/logo_Sforum_tin_tuc11.png"
                },
                "sameAs": ["https:\/\/www.facebook.com\/CellphoneSVietnam", "https:\/\/www.youtube.com\/c\/CellphoneSOfficial", "https:\/\/www.linkedin.com\/company\/cellphones\/", "https:\/\/twitter.com\/cellphonesvn", "https:\/\/www.pinterest.com\/cellphonesvn\/", "https:\/\/www.tiktok.com\/$cellphones.official", "https:\/\/www.instagram.com\/cellphonesvn\/", "https:\/\/cellphones.com.vn\/"]
            }
        }
    </script>

    <script type="application/ld+json">
        {
            "$context": "http:\/\/schema.org",
            "$type": "BreadcrumbList",
            "itemListElement": [{
                "$type": "ListItem",
                "position": 1,
                "item": {
                    "$id": "https:\/\/cellphones.com.vn",
                    "name": "CELLPHONES"
                }
            }, {
                "$type": "ListItem",
                "position": 2,
                "item": {
                    "$id": "https:\/\/cellphones.com.vn\/sforum",
                    "name": "SForum"
                }
            }, {
                "$type": "ListItem",
                "position": 3,
                "item": {
                    "$id": "https:\/\/cellphones.com.vn\/sforum\/tin-cong-nghe",
                    "name": "Tin c\u00f4ng ngh\u1ec7"
                }
            }, {
                "$type": "ListItem",
                "position": 4,
                "item": {
                    "$id": "https:\/\/cellphones.com.vn\/sforum\/tin-cong-nghe\/may-tinh",
                    "name": "M\u00e1y t\u00ednh"
                }
            }, {
                "$type": "ListItem",
                "position": 5,
                "item": {
                    "$id": "https:\/\/cellphones.com.vn\/sforum\/snapdragon-x-elite-choi-game",
                    "name": "Snapdragon X Elite v\u1edbi GPU Adreno 4.6 TFLOP c\u00f3 th\u1ec3 ch\u01a1i Baldur's Gate 3 \u1edf 1080p$30fps"
                }
            }]
        }
    </script>
    <script type="application/ld+json">
        {
            "$context": "http:\/\/schema.org",
            "$type": "hentry",
            "entry-title": "Snapdragon X Elite v\u1edbi GPU Adreno 4.6 TFLOP c&oacute; th\u1ec3 ch\u01a1i Baldur&#039;s Gate 3 \u1edf 1080p$30fps",
            "published": "2024-03-28T15:47:24+07:00",
            "updated": "2024-03-31T09:55:39+07:00"
        }
    </script>
    <script type="application/ld+json">
        {
            "$context": "http:\/\/schema.org",
            "$type": "WebSite",
            "$id": "https:\/\/cellphones.com.vn\/#website",
            "url": "https:\/\/cellphones.com.vn\/",
            "name": "CELLPHONES",
            "potentialAction": {
                "$type": "SearchAction",
                "target": "https:\/\/cellphones.com.vn\/\/?s={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    <script type="application/ld+json">
        {
            "$context": "http:\/\/schema.org",
            "$type": "Organization",
            "$id": "https:\/\/cellphones.com.vn\/#organization",
            "url": "https:\/\/cellphones.com.vn\/",
            "name": "CELLPHONES",
            "logo": {
                "$type": "ImageObject",
                "url": "https:\/\/cellphones.com.vn\/sforum\/assets\/images\/logo-ico.png"
            },
            "sameAs": ["https:\/\/www.facebook.com\/CellphoneSVietnam", "https:\/\/www.youtube.com\/c\/CellphoneSOfficial", "https:\/\/www.linkedin.com\/company\/cellphones\/", "https:\/\/twitter.com\/cellphonesvn", "https:\/\/www.pinterest.com\/cellphonesvn\/", "https:\/\/www.tiktok.com\/$cellphones.official", "https:\/\/www.instagram.com\/cellphonesvn\/", "https:\/\/cellphones.com.vn\/"],
            "contactPoint": {
                "$type": "ContactPoint",
                "telephone": "+84 2871089666",
                "contactType": "customer service",
                "areaServed": ["350-352 V\u00f5 V\u0103n Ki\u1ec7t", " Ph\u01b0\u1eddng C\u00f4 Giang", " Qu\u1eadn 1", " TP. HCM"]
            }
        }
    </script>




    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Sforum - Trang thông tin công nghệ mới nhất »" href="https://cellphones.com.vn/sforum/feed">

    <link rel="alternate" type="application/rss+xml" title="Sforum - Trang thông tin công nghệ mới nhất » Snapdragon X Elite với GPU Adreno 4.6 TFLOP có thể chơi Baldur&#039;s Gate 3 ở 1080p$30fps " href="https://cellphones.com.vn/sforum/snapdragon-x-elite-choi-game/feed">


    <link rel="icon" href="https://cellphones.com.vn/sforum/storage/2023/03/21/logo-ico.png" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght$0,300;0,500;0,700;1,300;1,500&amp;family=Poppins:ital,wght$0,300;0,500;0,700;1,300;1,400&amp;display=swap?v=1.0.2" id="main-0">
    <link rel="stylesheet" type="text/css" href="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/css/app.min.css?v=1.0.2" id="main-1">
    <link rel="stylesheet" type="text/css" href="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/lib/css/autoptimize.css?v=1.0.2" id="main-2">
    <script src="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/js/app.min.js?v=1.0.2" id="main-0"></script>
    <script src="https://cellphones.com.vn/sforum/jw-styles/themes/default/assets/lib/js/jquery.magnific-popup.min.js?v=1.0.2" id="main-1"></script>

    <meta name="google-site-verification" content="-EdwUpgLv6BGRhbjyOazkiHFkTo7magmo2AOKm1tfL4" />

    <style>
        $media screen and (max-width: 481px) {
            .thumbnail-container>img

        {
            width: unset !important;
            max-width: 100% !important;
            transform: translateX(0px);
        }

        }
    </style>

    <script>
        function isGGDevice() {
            const userServer = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36 OPR/107.0.0.0"
            let userAgentClient = userServer || navigator.userAgent;
            return /Chrome-Lighthouse/i.test(userAgentClient) || /google page speed insights/i.test(userAgentClient.toLocaleLowerCase()) || /chrome-lighthouse/i.test(userAgentClient.toLocaleLowerCase())
        }
        let isGGPS = isGGDevice()
        window.addEventListener('DOMContentLoaded', (event) => {
            if (!isGGPS) {
                window.dataLayer = window.dataLayer || [];
                dataLayer.push({
                    'measurementId': 'G-QLK8WFHNK9',
                    'fbPixelId': '493068327514709'
                });
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start': new Date().getTime(),
                        event: 'gtm.js'
                    });
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s),
                        dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-MS9NGTN');
            }
        })
    </script>
    <!-- End Google Tag Manager -->


</head>

<body class="jw-theme jw-theme-body single-post single-post-posts ">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS9NGTN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->




    <div class="jeg_viewport">



        <div class="jeg-body-container home">
            <div id="left-sidebar-menu" class="hidden_menu">
                <div>
                    @await Html.PartialAsync("~/Views/Shared/Partial/_LeftsidebarPartial.cshtml", Brandname)

                </div>
            </div>
            <div id="right-content" class="right-content-detail_post">
                <div class="elementor-column-wrap elementor-element-populated" style="transform: none;">
                    <div class="elementor-widget-wrap" style="transform: none;">

                        <div class="elementor-element elementor-element-31c7df40 elementor-widget elementor-widget-theme-post-featured-image elementor-widget-image" data-id="31c7df40" data-element_type="widget" data-widget_type="theme-post-featured-image.default">
                            <div class="elementor-widget-container tag-head">
                                <div class="elementor-image detail_img">
                                    <img width="1200" height="675" src="~/contents/img/booking.png" class="attachment-full size-full detail_img_child lazy"
                                         data-pin-no-hover="true">
                                </div>
                            </div>
                        </div>
                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-6c88c3fd elementor-section-boxed elementor-section-height-default elementor-section-height-default detail-post" data-id="6c88c3fd" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default detail_trans">
                                <div class="elementor-row" style="transform: none;">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-49c7f5c4" data-id="49c7f5c4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="transform: none;">
                                        <div class="elementor-column-wrap elementor-element-populated elementor-element-populated-pad" style="transform: none;">
                                            <div class="elementor-widget-wrap elementor-widget-wrap-pad" style="transform: none;">
                                                <div class="elementor-element elementor-element-3d1d4533 elementor-widget elementor-widget-shortcode elementor-element elementor-element" data-id="3d1d4533" data-element_type="widget" data-widget_type="shortcode.default">
                                                    <div class="elementor-widget-container category-title-label">
                                                        <div class="elementor-shortcode">
                                                            <div class="sf-post-category">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-5bf379a8 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-element_type="widget" data-widget_type="theme-post-title.default">
                                                    <div class="elementor-widget-container elementor-widget-container-title_post">
                                                        <h1 class=" elementor-size-default elementor-heading-title-post pt-20"></h1>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-widget elementor-widget-jnews_post_meta_elementor" data-element_type="widget" data-widget_type="jnews_post_meta_elementor.default">

                                                    <div class="elementor-element elementor-element-a71c803 elementor-widget elementor-widget-jnews_post_content_elementor" data-id="a71c803" data-element_type="widget" data-widget_type="jnews_post_content_elementor.default" style="transform: none;">
                                                        <div class="content-description-details" style="transform: none;">
                                                            <div class="jeg_custom_content_wrapper" style="transform: none;">
                                                                <div class="entry-content no-share" style="transform: none;">
                                                                    <div class="jeg_share_button share-float jeg_sticky_share clearfix share-normal" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                                                                        <div class="jegStickyHolder">
                                                                            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="content-inner" style="text-align: justify;">
                                                                        @if (Model.Count() == 0)
                                                                        {
                                                                            <h2 class="">Chưa có bài viết nào được đăng</h2>
                                                                        }
                                                                        else
                                                                        {
                                                                            foreach (var item in Model)

                                                                            {

                                                                                <div class="sf_right_featured--box sf_right_featured--small-box">

                                                                                    <div class="sf_right_featured--box-thumb">
                                                                                        <a asp-action="DisplayPost" asp-route-postid="@item.PostID">
                                                                                            <div class="sf_right_featured--thumbnail-container lazyload">
                                                                                                <img style="height: 62px" src="~/Contents/img/@item.Thumburl" />
                                                                                                <div class="sf_right_featured--thumb-overlay"></div>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="sf_right_featured--box-content"><a asp-action="DisplayPost" asp-route-postid="@item.PostID">@item.Title</a></div>

                                                                                    <div class="sf_right_featured--box-content"><a asp-action="DisplayPost" asp-route-postid="@item.PostID">@item.CreatedDate</a></div>
                                                                                </div>

                                                                            }
                                                                        }




                                                                        <p></p>
                                                                        <b>Nếu bạn đang tìm kiếm một chiếc laptop cho nhu cầu giải trí, hãy tham khảo thêm các sản phẩm hiện đang được bán tại <a href='https://localhost:7266'><b>SiuLaptop</b></a></b>
                                                                        <p></p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>









                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <script>
        var swiper = new Swiper('.swiper-container-banner', {
            slidesPerView: 1, // Chỉ hiển thị một slide mỗi lần
            spaceBetween: 10, // Cách giữa các slide
            loop: true, // Lặp lại vô hạn
            autoplay: {
                delay: 3000, // Độ trễ giữa các slide (ms)
                disableOnInteraction: false, // Ngừng tự động khi người dùng tương tác
            },
            pagination: {
                el: '.swiper-pagination-banner',
                clickable: true,
            },
        });
        const url = "https://cellphones.com.vn/sforum/snapdragon-x-elite-choi-game"
        const title = "Snapdragon X Elite với GPU Adreno 4.6 TFLOP có thể chơi Baldur&#039;s Gate 3 ở 1080p$30fps"

        let activeReply = false;
        let page = 1;
        let html = ''
        let messageModal = '<p></p>';

        $('document').ready(async function () {
            var h2s = $('h2');
            var h3s = $('h3');
            if (h2s.length > 0) {
                if (h2s.length === 1 && h3s.length === 0) return;
                $(h2s[0]).before(``);
            }
            $("#ez-toc-container a.ez-toc-toggle").on("click", toogleToc);
            var page = 1;
            const count = await countComment(page)
            console.log(count)
            if (count.data == undefined || count.data < 5) {
                document.getElementById("cmt_loadmore").style.display = 'none';
            }
            setCountComment(count)
            const data = await getComment();
            showComment(data)
        });

        function setCountComment(count) {
            let html = "0 Hỏi đáp"
            if (count.data !== undefined) {
                html = count.data + " " + "Hỏi Đáp"
            }

            jQuery("#total_comment").html(html);
        }

        async function loadMore() {
            page = page + 1
            const data = await getComment(page);
            showComment(data)
        }

        function getComment(page) {
            return $.ajax({
                url: `module/comment?page=${page}`,
                type: "GET",
                dataType: 'json',
                data: {
                    page_url: document.URL,
                }
            });
        }

        function handleTime(time) {
            d = new Date(time);

            return {
                "day": d.toLocaleDateString(),
                "time": d.toLocaleTimeString()
            }
        }

        function showComment(data) {
            $.each(data.data.data, function (key, value) {
                let time = handleTime(value.created_at)
                if (value !== null) {
                    html += `<div class="item-comment">
                                                       <div class="item-comment__box-cmt">
                                                                                        <div class="box-cmt__box-info">
                                                                                            <div class="box-info">
                                                                                                <div class="box-info__avatar"><img
                                                                                                        src="https://cdn.sforum.vn/sforum/wp-content/plugins/dtv-comments-system/images/shipper-icon.png">
                                                                                                </div>
                                                                                                <p class="box-info__name">
                                                                                                    ${value.customer_name}</p>
                                                                                                <!----></div>
                                                                                            <div class="box-info-separate"></div>
                                                                                            <p class="box-time-cmt">Ngày ${time.day}
                                                                                                lúc ${time.time}</p>
                                                                                        </div>
                                                                                        <div class="box-cmt__box-question"><p>
                                                                                                ${value.content}<br></p>
                                                                                            <button href="javascript:void(0)"
                                                                                                    onclick="openAnswer(${value.id})"
                                                                                                    class="btn-rep-cmt respondent"
                                                                                                    style="font-size: 13px">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                                     width="13" height="12"
                                                                                                     viewBox="0 0 12 10.8">
                                                                                                    <path id="chat"
                                                                                                          d="M3.48,8.32V4.6H1.2A1.2,1.2,0,0,0,0,5.8V9.4a1.2,1.2,0,0,0,1.2,1.2h.6v1.8l1.8-1.8h3A1.2,1.2,0,0,0,7.8,9.4V8.308a.574.574,0,0,1-.12.013H3.48ZM10.8,1.6H5.4A1.2,1.2,0,0,0,4.2,2.8V7.6H8.4l1.8,1.8V7.6h.6A1.2,1.2,0,0,0,12,6.4V2.8a1.2,1.2,0,0,0-1.2-1.2Z"
                                                                                                          transform="translate(0 -1.6)"
                                                                                                          fill="#707070"></path>
                                                                                                </svg>&nbsp;Trả lời
                                                                                            </button>
                                                                                        </div>
                                                                                        <div class="item-comment__box-rep-comment">
                                                                                            <div class="list-rep-comment">`
                    $.each(value.child, function (key, item) {
                        let time = handleTime(value.created_at)
                        if (value !== null) {
                            html +=
                                ` <!--reply-item-->
                                                                                                <div class="item-rep-comment">
                                                                                                    <div class="box-cmt__box-info">
                                                                                                        <div class="box-info">
                                                                                                            <div
                                                                                                                class="box-info__avatar">
                <!--                                                                                                <i class="cps-icons icon-cps"></i>-->
                                                                                                                     <img src="https://cdn.sforum.vn/sforum/wp-content/plugins/dtv-comments-system/images/shipper-icon.png">
                                                                                                            </div>
                                                                                                            <p class="box-info__name">
                                                                                                                ${item.customer_name}</p>
                <!--                                                                                            <span class="box-info__tag">QTV</span>-->

                                                                                                        </div>
                                                                                                        <div
                                                                                                            class="box-info-separate"></div>
                                                                                                        <p class="box-time-cmt">Ngày ${time.day} vào
                                                                                                lúc ${time.time}</p></div>
                                                                                                    <div class="box-cmt__box-question">
                                                                                                        <p> ${item.content}</p>
                                                                                                        <button style="font-size: 13px;" onclick="openAnswer(${item.parent_id})"
                                                                                                            href="javascript:void(0)"
                                                                                                            class="btn-rep-cmt respondent">
                                                                                                            <svg
                                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                                width="13" height="12"
                                                                                                                viewBox="0 0 12 10.8">
                                                                                                                <path id="chat"
                                                                                                                      d="M3.48,8.32V4.6H1.2A1.2,1.2,0,0,0,0,5.8V9.4a1.2,1.2,0,0,0,1.2,1.2h.6v1.8l1.8-1.8h3A1.2,1.2,0,0,0,7.8,9.4V8.308a.574.574,0,0,1-.12.013H3.48ZM10.8,1.6H5.4A1.2,1.2,0,0,0,4.2,2.8V7.6H8.4l1.8,1.8V7.6h.6A1.2,1.2,0,0,0,12,6.4V2.8a1.2,1.2,0,0,0-1.2-1.2Z"
                                                                                                                      transform="translate(0 -1.6)"
                                                                                                                      fill="#707070"></path>
                                                                                                            </svg>&nbsp;Trả lời
                                                                                                        </button>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!---->`
                        }
                    })
                    html += `        </div>
                                                      <div data-index="1"  id="product_reply_list_${value.id}"class="list-comment"></div>
                                                  </div>
                                               </div>
                                            </div>
                          `
                }
            });
            jQuery("#product_comment_list_698550").html(html);
        }

        function openAnswer(parent_id) {
            activeReply = true
            let html = '';
            if (activeReply) {
                html += `<div class="block-comment__box-form-comment form-add" style="width: 100%; height: 50px; margin-top: 10px;">
                                                                            <div class="input-group">
                                                                                <textarea id="review_field_reply" name="detail"
                                                                                          placeholder="trả lời bình luận"
                                                                                          class="cps-textarea-field"
                                                                                          style="height: 50px;"></textarea>
                                                                                <button href="javascript:void(0)" id="btnSendReply" style="color: #ebf5f5;margin-top: 20px;margin-right: 5px;height: 23px;"
                                                                                        onclick="openModel(${parent_id})"
                                                                                        class="btn-send-cmt cta-gui-binh-luan">Gửi
                                                                                </button>
                                                                            </div>
                                                                            <span id="sub-comment-error"
                                                                                  class="comment-error error-text error d-none">Vui lòng nhập bình luận</span>
                                                                        </div>`
                jQuery(`#product_reply_list_${parent_id}`).html(html);

            }
        }

        function countComment() {
            return $.ajax({
                url: "module/comment/count",
                type: "GET",
                dataType: 'json',
                data: {
                    page_url: document.URL,
                }
            });
        }

        function openModel(parent_id = null) {
            const bearerToken = getTokenFromCookie();
            if (bearerToken == null) {
                document.getElementById("modal-login").style.display = 'block';
                return;
            }
            let content = $('#review_field').val();
            if (parent_id !== null) {
                content = $('#review_field_reply').val();
            }

            if (!content) {
                messageModal = $('#modalMess').html("<p>Vui lòng nhập bình luận của bạn</p>")
                document.getElementById("modal-message").style.display = 'block';
                return;
            }
            $.ajax({
                url: "module/comment/",
                type: "POST",
                dataType: 'json',
                data: {
                    'parent_id': parent_id,
                    'is_admin': 0,
                    'page_name': title,
                    'page_url': url,
                    'content': content,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + bearerToken);
                    xhr.setRequestHeader('X-CSRF-TOKEN', $('meta[name="csrf-token"]').attr('content'))
                },
                success: function () {
                    document.getElementById("modal-message").style.display = 'block';
                    messageModal = $('#modalMess').html("<p>Hệ thống đã ghi nhận bình luận. Vui lòng đợi trong giây lát</p>")
                    location.reload()
                },
                error: function () {
                    document.getElementById("modal-message").style.display = 'block';
                    messageModal = $('#modalMess').html("<p>Quá nhiều yêu cầu vui lòng thử lại sau</p>")
                }
            });

        }

        function getTokenFromCookie() {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith('token=')) {
                    return cookie.substring('token='.length, cookie.length);
                }
            }
            return null;
        }

        function closeModel() {
            document.getElementById("modal-login").style.display = 'none';
        }

        function closeModelMessage() {
            document.getElementById("modal-message").style.display = 'none';
        }

        function toogleToc(event) {
            event.preventDefault();
            if ($("#toc_content").css("display") === "none") $("#toc_content").show();
            else $("#toc_content").hide();
        }

        function hotlineButtonPage() {
            let mobileHeader = jQuery(".mobile-hotline");
            let mobileHeader_top = 150;
            jQuery(window).on("scroll", function () {
                if (jQuery(window).scrollTop() >= mobileHeader_top) {
                    jQuery(".jeg_navbar_mobile_wrapper").addClass("sf_mobile_sticky");
                } else {
                    jQuery(".jeg_navbar_mobile_wrapper").removeClass(
                        "sf_mobile_sticky"
                    );
                }
            });
        }

        const gallery = document.querySelectorAll('.gallery');
        gallery.forEach(item => {
            const images = item.querySelectorAll('.gallery-item img');
            const imagesCount = images.length;
            let loadedCount = 0;
            let minHeight = 10000;
            images.forEach(image => {
                image.addEventListener('load', () => {
                    loadedCount++;
                    if (image.height < minHeight) {
                        minHeight = image.height;
                    }
                    console.log(minHeight);
                    if (loadedCount === imagesCount) {
                        images.forEach(img => {
                            img.style.setProperty('object-fit', 'cover');
                            img.style.setProperty('height', `${minHeight}px`);
                        });
                    }
                });
            });
        });
    </script>
    <style>
        .modal-login {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 100;
        }

            .modal-login .modal-wrapper {
                position: fixed;
                max-width: 350px;
                margin: 0 auto;
                background: #fff;
                padding: 15px;
                border-radius: 10px;
                text-align: center;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .modal-login button.modal-close.is-medium {
                position: absolute;
            }

            .modal-login .title {
                color: #d70018;
                font-size: 25px;
                margin-bottom: 5px;
            }

        .is-flex {
            display: flex !important;
        }

        .is-justify-content-center {
            justify-content: center !important;
        }

        .text {
            padding-top: 5px;
            text-align: justify;
        }

        .is-justify-content-space-between {
            justify-content: space-between !important;
        }

        .login-btn {
            background: #d70018;
            border: 0.5px solid hsla(0, 0%, 47%, .5);
            border-radius: 5px;
            box-shadow: 0 4px 4px rgba(255, 0, 0, .2);
            color: #fff;
            cursor: pointer;
            display: block;
            padding: 6px 0;
            text-align: center;
            width: 48%;
        }

        .register-btn {
            background: #fff;
            border: 0.5px solid #d70018;
            border-radius: 5px;
            color: #d70018;
            cursor: pointer;
            display: block;
            padding: 6px 0;
            text-align: center;
            width: 48%;
        }

        .text-p {
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
        }

        .modal-login .modal-close {
            background-color: hsla(0, 0%, 4%, .2);
            right: 10px;
            top: 10px;
        }

        .modal-close:before {
            height: 2px;
            width: 50%;
        }

        .modal-close:after,
        .modal-close:before {
            background-color: #fff;
            content: "";
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform-origin: center center;
        }

        .modal-close:after {
            height: 50%;
            width: 2px;
        }

        .modal-close:after,
        .modal-close:before {
            background-color: #fff;
            content: "";
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform-origin: center center;
        }

        .is-medium,
        .is-medium.modal-close {
            height: 24px;
            max-height: 24px;
            max-width: 24px;
            min-height: 24px;
            min-width: 24px;
            width: 24px;
        }

        .modal-close {
            background: none;
            height: 40px;
            position: fixed;
            right: 20px;
            top: 20px;
            width: 40px;
        }

        .modal-close {
            -webkit-appearance: none;
            background-color: hsla(0, 0%, 4%, .2);
            border: none;
            border-radius: 9999px;
            cursor: pointer;
            display: inline-block;
            flex-grow: 0;
            flex-shrink: 0;
            font-size: 0;
            height: 20px;
            max-height: 20px;
            max-width: 20px;
            min-height: 20px;
            min-width: 20px;
            outline: none;
            pointer-events: auto;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            vertical-align: top;
            width: 20px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .box-cmt__box-question {
            width: 100%;
            margin-top: 5px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-info .box-info__name {
            font-size: 16px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-info .box-info__avatar {
            height: 40px;
            width: 40px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-time-cmt {
            font-size: 14px;
        }

        .block-comment .block-comment__box-list-comment .item-comment__box-rep-comment {
            width: 97%;
            padding-left: 15px;
            border-left: 2px solid #d0d0d0;
        }

            .block-comment .block-comment__box-list-comment .item-comment__box-rep-comment .item-rep-comment {
                margin-top: 5px;
            }

        .block-comment .block-comment__box-list-comment .item-comment .box-cmt__box-question .btn-rep-cmt {
            margin-top: 5px;
        }

        $media screen and (max-width: 782px) {
            .modal-login .modal-wrapper

        {
            position: fixed;
            max-width: 350px;
            margin: 0 auto;
            background: #fff;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            left: 50%;
            top: 40%;
            width: 100%;
            transform: translate(-50%, -50%);
        }

        }

        figcaption {
            background-color: #ede4e4;
            margin-top: 2px !important;
            padding: 10px;
        }

        .sforum-on-google-news-desktop {
            border-radius: 10px;
            height: 35px;
        }

        .sforum-on-google-news-mobile {
            display: none;
        }

        $media (max-width: 375px) {
            .sforum-on-google-news-desktop

        {
            display: none;
        }

        .sforum-on-google-news-mobile {
            border-radius: 10px;
            height: 35px;
            display: block;
        }

        }

        .wp-caption .wp-caption-text {
            color: #0b0b0b;
            !important;
        }

        $media screen and (max-width: 768px) {
            .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-info .box-info__name

        {
            font-size: 14px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-info .box-info__avatar {
            height: 30px;
            width: 30px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .box-cmt__box-info .box-info .icon-cps {
            height: 20px;
            width: 20px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-time-cmt {
            font-size: 12px;
        }

        }

        $media screen and (max-width: 540px) {
            .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-info .box-info__name

        {
            font-size: 12px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .box-cmt__box-info .box-info .box-info__name {
            font-size: 14px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .item-rep-comment .box-cmt__box-info .box-time-cmt {
            font-size: 10px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .box-cmt__box-info .box-time-cmt {
            font-size: 12px;
        }

        .block-comment .block-comment__box-list-comment .item-comment .box-cmt__box-info .box-info-separate {
            margin: 0 5px;
        }

        }

        blockquote {
            border-top-color: #ffffff !important;
            border-right-color: #ffffff !important;
            border-bottom-color: #ffffff !important;
        }

        table {
            border: 1px solid #eee !important;
            color: #333 !important;
        }

        td,
        th {
            color: #333 !important;
        }

            td:first-child {
                border: 1px solid #eee !important;
            }

        div.subscriber-box__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center
        }

            div.subscriber-box__form input[type=text] {
                margin-bottom: 10px;
                border-radius: 5px
            }

        $media screen and (max-width: 500px) {
            .css_table_overflow

        {
            overflow-x: scroll !important;
        }

        table {
            min-width: max-content !important;
        }

        }

        .content-inner .jeg_post_meta .jeg_meta_author figure {
            width: unset !important;
        }

        .content-inner .elementor-widget-container-author_post .jeg_meta_author {
            flex-direction: column;
        }

        .content-inner .jeg_post_meta .jeg_meta_author img {
            width: unset !important;
            height: unset !important;
            margin-right: unset !important;
            border-radius: unset !important;
        }

        .time-author {
            font-size: 13px !important
        }
    </style>

    <div class="jscroll-to-top" id="hidden-button">
        <a href="#back-to-top" onclick="scrollToTop(this)" class="jscroll-to-top_link">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <style>
        .text-footer-icon {
            font-weight: 500;
            color: #0b0b0b;
        }

        .sf-sticky-footer--icon.footer-icon {
            margin-left: 20px;
        }

        .sf-sticky-footer--icons {
            font-weight: 600;
        }

        .sf-sticky-footer--icon {
            text-align: center;
            /* Căn giữa nội dung */
        }

            .sf-sticky-footer--icon img {
                display: block;
                /* Để có thể sử dụng margin hoặc padding cho hình ảnh */
                margin: 0 auto;
                /* Căn giữa hình ảnh */
            }

            .sf-sticky-footer--icon span {
                display: block;
                /* Để chữ hiển thị trên một dòng mới */
                margin-top: 5px;
                /* Khoảng cách giữa hình ảnh và chữ */
            }
    </style>



</body>


</html>



@section Scripts {
    <script src="@Url.Content("~/lib/summernote/summernote.js")"></script>
    <link href="@Url.Content("~/lib/summernote/summernote.css")" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('#Contents').summernote({
                height: 200,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['link', 'picture', 'video']]
                ]
            });
        });
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
}
