@{	
	ViewBag.Title = "Index";
	Layout = "~/Views/Layout/HomeLayout.cshtml";

	// Định nghĩa các viewbag để truyền vào partial Product
	IEnumerable<Product> lstLTM = ViewBag.ListLTM as IEnumerable<Product>; // Cách ép kiểu 1
	IEnumerable<Product> lstSelling = ViewBag.ListSelling as IEnumerable<Product>;
	IEnumerable<Product> lstDTM = ViewBag.ListDTM as IEnumerable<Product>;
	IEnumerable<Setting> settings = ViewBag.Settings as IEnumerable<Setting>;
}


<!-- carousel -->
<div class="carousel">
    <!-- list item -->
    <div class="list">
        <div class="item">
            <img src="~/img/@settings.ElementAt(4).ImgUrl">
            <div class="content">

                <div class="author">SIU</div>
                <div class="title">LAPTOP</div>
                <div class="topic">Alien</div>
                <div class="des">
                    <!-- lorem 50 -->
                   @Html.Raw(@settings.ElementAt(4).Contents)
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/@settings.ElementAt(5).ImgUrl">
            <div class="content">
                <div class="author">SIU</div>
                <div class="title">LAPTOP</div>
                <div class="topic">Acer</div>
                <div class="des">
                    <!-- lorem 50 -->
                    @Html.Raw(@settings.ElementAt(5).Contents)
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/@settings.ElementAt(7).ImgUrl">
            <div class="content">
                <div class="author">SIU</div>
                <div class="title">LAPTOP</div>
                <div class="topic">LENOVO</div>
                <div class="des">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/@settings.ElementAt(8).ImgUrl">
            <div class="content">
                <div class="author">LUNDEV</div>
                <div class="title">DESIGN SLIDER</div>
                <div class="topic">ANIMAL</div>
                <div class="des">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- list thumnail -->
    <div class="thumbnail">
        <div class="item">
            <img src="~/img/@settings.ElementAt(6).ImgUrl">
            <div class="content">
                <div class="title">
                    Laptop
                </div>
                <div class="description">
                    Check Now
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/@settings.ElementAt(5).ImgUrl">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/@settings.ElementAt(7).ImgUrl">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/@settings.ElementAt(8).ImgUrl">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
    </div>
    <!-- next prev -->

    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
</div>

<script src="app.js"></script>

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/img/@settings.ElementAt(0).ImgUrl" alt="">
					</div>
					<div class="shop-body">
						@Html.Raw(@settings.ElementAt(0).Contents)
						<a href="Product/apple-1" class="cta-btn">Shop now<i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/img/@settings.ElementAt(1).ImgUrl" alt="">
					</div>
					<div class="shop-body">
						@Html.Raw(@settings.ElementAt(1).Contents)
						<a href="Product/asus-3" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/img/@settings.ElementAt(2).ImgUrl" alt="">
					</div>
					<div class="shop-body">
						@Html.Raw(@settings.ElementAt(2).Contents)
						<a href="Product/dell-2" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<div class="container">
	@await Html.PartialAsync("~/Views/ProductView/ProductStyle1.cshtml", lstLTM)
</div>

<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
					<ul class="hot-deal-countdown">
						<li>
							<div>
								<h3>02</h3>
								<span>Days</span>
							</div>
						</li>
						<li>
							<div>
								<h3>10</h3>
								<span>Hours</span>
							</div>
						</li>
						<li>
							<div>
								<h3>34</h3>
								<span>Mins</span>
							</div>
						</li>
						<li>
							<div>
								<h3>60</h3>
								<span>Secs</span>
							</div>
						</li>
					</ul>
					<h2 class="text-uppercase" style="color: #fff;">hot deal this week</h2>
					<p style="color : #fff">New Collection Up to 50% OFF</p>
					<a class="primary-btn cta-btn" href="#">Shop now</a>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<div class="container">
	@await Html.PartialAsync("~/Views/ProductView/ProductStyle2.cshtml", lstDTM)
</div>

<div class="container">
	@await Html.PartialAsync("~/Views/ProductView/ProductStyle3.cshtml", lstSelling)
</div>




@* <div class="container">
	@await Html.PartialAsync("~/Views/Shared/Partial/_FooterPartial.cshtml", listCate)
</div>
 *@
 <style>
	#hot-deal.section {

		background-image: url('../img/@settings.ElementAt(3).ImgUrl');
		
	}
 </style>
