@model GiayDep.Models.Membership

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<<h2 class="text-center font-weight-bold">Xóa thông tin thành viên</h2>

<h3 class="text-danger">Bạn có muốn xóa thành viên này khỏi danh sách?</h3>

<div>
    <h4>Thành viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tài khoản
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tk)
        </dd>
        <dt>
            Mật khẩu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mk)
        </dd>
        <dt>
            Họ tên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            SĐT
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sđt)
        </dd>
        <dt>
            Mã loại thành viên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaLoaiTvNavigation.MaLoaiTv)
        </dd>
    </dl>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idtv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Quay trở lại</a> 
    </form>

</div>
