@using Laptop.Models
@model IEnumerable<LoaiSp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h2 class="text-center"> Loại sản phẩm </h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Tên loại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenloai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idloai" class="btn btn-primary">Chỉnh sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Idloai" class="btn btn-info">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idloai" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    @if (pager.TotalPage > 0)
    {
        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="LoaiSp" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="LoaiSp" asp-action="Index"
                       asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="LoaiSp" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="LoaiSp" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="LoaiSp" asp-action="Index" asp-route-pg="@pager.TotalPage">Last</a>
                </li>
            }

        </ul>
    }
</div>