@model IEnumerable<SanPham>

@{
    ViewData["Title"] = "Sản Phẩm";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

<style>
    .bottom-product .bottom-cd .tun {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="col-md-9 product1">
    <div class="bottom-product">
        @foreach (var item in Model)
        {
            <div class="col-md-4 bottom-cd simpleCart_shelfItem" style="padding-bottom:15px">
                <div class="product-at ">
                    <a asp-controller="ProductView" asp-action="XemChiTiet" asp-route-id="@item.Idsp" asp-route-tensp="@item.Tensp">
                        <img class="img-responsive" src="@Url.Content("~/Contents/img/" + item.Hinhanh1)" alt="" style="width:255px;height:250px;">
                        <div class="pro-grid">
                            <span class="buy-in">Xem chi tiết</span>
                        </div>
                    </a>
                </div>
                <p class="tun">@item.Tensp</p>
                @*<a asp-controller="GioHang" asp-action="ThemGioHang" asp-route-MaSP="@item.MaSP" asp-route-strURL="@Request.PathBase@Request.Path" class="item_add">
            <p class="number item_price"><i> </i>@item.DonGia.Value.ToString("#,##") VNĐ</p>
            </a>*@
            </div>
        }
        <div class="clearfix"></div>
    </div>
    @*  <div class="dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @await Html.PagedListPagerAsync(Model, page => Url.Action("LoaiSanPham", new { page = page, MaLoaiSP = ViewBag.MaLoaiSP }))
    </div>*@

</div>
