@model GiayDep.Models.HoaDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaythanhtoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaythanhtoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtranggiaohang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtranggiaohang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaygiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaygiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dathanhtoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dathanhtoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dahuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dahuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Daxoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Daxoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khuyenmai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khuyenmai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idhoadon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
