@model IEnumerable<GiayDep.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngaythanhtoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinhtranggiaohang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaygiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dathanhtoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dahuy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Daxoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khuyenmai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaythanhtoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtranggiaohang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaygiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dathanhtoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dahuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Daxoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khuyenmai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakhNavigation.Id)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Idhoadon" class="btn btn-warning">Chỉnh sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Idhoadon" class="btn btn-success">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idhoadon" class="btn btn-danger">Xóa</a>

            </td>
        </tr>
}
    </tbody>
</table>
