@model Laptop.Models.ProductVariation

@{
    ViewData["Title"] = "Delete";
}

<h2>XÓA PHÂN KHÚC</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>ProductVariation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã phân khúc
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductVarId)
        </dd>
        <dt>
            Số lượng tồn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyinStock)
        </dd>
        <dt>
            Giá
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Mục sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductItems.ProductItemsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ram.RamId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssd.SsdId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductItemsId" />
        <input type="hidden" asp-for="RamId" />
        <input type="hidden" asp-for="Ssdid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Trở về</a>
    </form>
</div>
