@model IEnumerable<Laptop.Models.ProductVariation>

@{
    ViewData["Title"] = "Index";
}

<h2>PRODUCT VARIATION LIST</h2>

<p>
    <a asp-action="Create">Add new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductVarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtyinStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ssd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductVarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyinStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductItems.ProductItemsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram.RamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ssd.SsdId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
