@model IEnumerable<GiayDep.Models.NhaSanXuat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Thêm liên kết đến Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h2 class="text-center"> Quản Lý Nhà Sản Xuất </h2>
<div class="card">
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </p>
        @if (Model != null && Model.Any())
        {
            <div id="list" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>Tên nhà sản xuất</th>
                            <th>Thông tin</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Tennhasx</td>
                                <td>@item.Diachi</td>
                                <td>@item.Sđt</td>
                                <td>@item.Email</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Idnhasx" class="btn btn-info">Chỉnh sửa</a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Idnhasx" class="btn btn-danger">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>...</p>
        }
    </div>
</div>
