@model IEnumerable<SanPham>
<div class="h_menu4">
    <ul class="memenu skyblue">
        <li class="showhide" style="display:none;">
            <span class="title">Menu</span><span class="icon1"></span><span class="icon2"></span>
        </li>
        <li class="active grid" style="display:inline;">
            <a class="color8" href="@Url.Action("Index","Home")">Home</a>
        </li>

        <!-- Url.action trả về kiểu đường dẫn url tương ứng với controller và action : ~/Controllers/Home/Index-->
        @foreach (var groupItem in Model.GroupBy(n => n.MaloaispNavigation))
        {
            if (groupItem.Key != null)
            {
                <li style="display:inline;">
                    <a class="color1" href="@Url.Action("ProductCate", "ProductView", new { MaLoaiSP = groupItem.Key.Idloai })">@groupItem.Key.Tenloai</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        @foreach (var item in groupItem.GroupBy(n => n.ManhaccNavigation))
                                        {
                                            if (item.Key != null)
                                            {
                                                <li><a href="@Url.Action("ThuongHieu", "ProductView", new { @MaLoaiSP = groupItem.Key.Idloai,@MaNSX = item.Key.Idnhacc })">@item.Key.Tennhacc</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }

        }
        <li class="grid">
            <a class="color2" href="#">Thương Hiệu</a>
            <div class="mepanel">
                <div class="row">
                    @foreach (var groupItem in Model.GroupBy(n => n.MaloaispNavigation))
                    {
                        if (groupItem.Key != null)
                        {
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>@groupItem.Key.Tenloai</h4>
                                    <ul>
                                        @foreach (var item in groupItem.GroupBy(n => n.ManhaccNavigation))
                                        {
                                            <li><a href="@Url.Action("ThuongHieu", "ProductView", new { @MaLoaiSP = groupItem.Key.Idloai, @MaNSX = item.Key.Idnhacc })">@item.Key.Tennhacc</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </li>
    </ul>
    

</div>

