@using System.Globalization

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Home</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Home</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Vouchers", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body"><strong>Voucher</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white">Amount: @ViewBag.VoucherCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Colors", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body"><strong>Color</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Type: @ViewBag.ColorCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Brand", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body"><strong>Brand</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Type: @ViewBag.BrandCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Rams", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body"><strong>Ram</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <spam class="small text-white stretched-link" href="#">Type: @ViewBag.RamCount</spam>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                    </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Ssd", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body"><strong>SSD</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Type: @ViewBag.SSDCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Suppliers", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body"><strong>Supplier</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Amount: @ViewBag.SupplierCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Categories", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body"><strong>Category</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Amount: @ViewBag.CategoryCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Product", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body"><strong>Product</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Amount: @ViewBag.ProductCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "Invoice", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body"><strong>Import history</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Amount: @ViewBag.InvoiceCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("DSSPHetHang", "Invoice", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body"><strong>Products almost out of stock</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Amount: @ViewBag.ProVarCount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="@Url.Action("Index", "ProductItems", new { area = "Admin" })" class="text-decoration-none">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body"><strong>Product item</strong></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span class="small text-white stretched-link" href="#">Amount: @ViewBag.PICount</span>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />

        <div class="chart-container">
            <canvas id="myChart" class="chart"></canvas>

            <canvas id="myPieChart" class="chart"></canvas>
            <div>
                <select id="monthSelector">
                    @foreach (var month in Enumerable.Range(1, 12))
                    {
                        if (month == DateTime.Now.Month)
                        {
                            <option value="@month" selected>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month)</option>
                        }
                        else
                        {
                            <option value="@month">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month)</option>
                        }
                    }
                </select>
            </div>
        </div>

   

 
    </div>

</main>




@section Scripts
{
    <script>

        $(document).ready(function () {
            
            fetchDataAndDrawChart();
            fetchDataAndPieChart(null);

            $('#monthSelector').change(function () {

                var selector = $(this).val();

                console.log("Selector" + selector);

                fetchDataAndPieChart(selector);

            });


            function fetchDataAndDrawChart() {
                $.ajax({
                    type: "POST",
                    url: '/Admin/Admin/GetSalesData',
                    data: "",
                    dataType: "json",
                    success: OnSuccessResult,
                    error: OnError
                });
            }

            function OnSuccessResult(data) {
                var _chartLabels = data.labels.$values;
            

                var _chartData = data.totalRevenue.$values;
            

                var barColor = ["red", "green", "blue", "orange", "brown", "purple", "cyan", "magenta", "yellow", "lavender", "teal", "salmon"];

                // Đảm bảo rằng cú pháp của hàm new Chart() là đúng
                new Chart("myChart", {
                    type: "bar",
                    options: {
                        title: {
                            display: true,
                            text: 'SALES DATA THIS YEAR',
                            fontSize : 20
                        },
                        legend: {
                            display: false
                        }
                    },
             
                
                
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                 


                });
            }
            function OnError(data) { 
                
                alert.log("No data");
            
            }


            function fetchDataAndPieChart(month) {
                
                if(month == null || month == undefined)
                {
                    var currentDate = new Date();

                    month = currentDate.getMonth() + 1;
                }

                console.log(month);

              
                    $.ajax({
                        type: "POST",
                        url: '/Admin/Admin/GetSalesPieData',
                        data: { monthSale: month },
                        dataType: "json",
                        success: PieResult,
                        error: PieError
                    });
                
            }

            function PieResult(data) {
                var _chartLabels = data.labels.$values;
                console.log(_chartLabels);

                var _chartData = data.totalRevenue.$values;
                console.log(_chartData);

                var barColor = ["red", "green", "blue", "orange", "brown", "purple", "cyan", "magenta", "yellow", "lavender", "teal", "salmon"];

                // Đảm bảo rằng cú pháp của hàm new Chart() là đúng
                new Chart("myPieChart", {
                    type: "pie",
                    options: {
                        title: {
                            display: true,
                            text: 'SALES DATA THIS MONTH BY BRANDS',
                            fontSize: 20
                        },
                        legend: {
                            display: true
                        }
                    },




                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }



                });
            }
            function PieError(data) {

                alert.log("No data");

            }

        });



      
    </script>

    <style>
        .chart-container {
            display: flex;
            justify-content: space-around; /* Cân bằng khoảng cách giữa các biểu đồ */
            align-items: center; /* Căn giữa các biểu đồ theo chiều dọc */
            flex-wrap: wrap; /* Cho phép các biểu đồ xuống hàng nếu không đủ chỗ */
        }

        .chart {
            flex: 1; /* Mỗi biểu đồ chiếm 1 phần bằng nhau của không gian khả dụng */
            max-width: 700px;
            max-height: 430px;
        }
    </style>


}


