@using Laptop.ViewModels

@model Item
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
}
@{
    ViewData["Title"] = "XemGioHang";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@Html.Partial("_NotificationPartial")
@if (Model == null) // Check if the list is null or empty
{
    <h1 style="color:crimson">Giỏ hàng rỗng</h1>
}
else
{
    <section class="h-100 h-custom" style="background-color: #fff;">
        <div class="alert" style="display:none;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Please Select A Payment Method
        </div>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5" style="margin-top: 40px;">
                                            <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        
                                        </div>

                                        @foreach (var item in Model.CartItems)
                                        {
                                            <hr class="my-4 thick-hr">
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="~/Contents/img/@item.HinhAnh"
                                                         class="img-fluid rounded-3" style="width: 100px; height: auto;">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@item.Hang</h6>
                                                    <h6 class="text-black mb-0">@item.ProductName.ToUpper()</h6>
                                                    <h6 class="text-black mb-0">Ram : @item.ram</h6>
                                                    <h6 class="text-black mb-0">SSD : @item.SSD</h6>
                                                    <h6 class="text-black mb-0">Color : @item.Color</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    <a class="btn btn-primary btn-sm" asp-controller="ShoppingCart" asp-action="Decrease" asp-route-id="@item.ProductID"> - </a>
                                                    <input class="cart_quanity_input text-center" type="text" name="Quantity" value="@item.Quanity" autocomplete="off" size="2">
                                                    <a class="btn btn-success btn-sm" asp-controller="ShoppingCart" asp-action="Increase" asp-route-id="@item.ProductID"> + </a>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0"> @item.Price.ToString("#,##0") VNĐ</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a class="btn btn-danger btn-sm" asp-controller="ShoppingCart" asp-action="Removed" asp-route-id="@item.ProductID"> Remove </a>
                                                </div>
                                            </div>
                                            <hr class="my-4 thick-hr">
                                        }
                                        <div class="pt-5 justify-content-between align-items-center">
                                            <div class="pt-5">
                                                <h6 class="mb-0 d-flex ">
                                                    <a href="#!" class="text-body">
                                                        <a class="btn btn-primary btn-sm ml-auto" asp-controller="Home" asp-action="Index"> Back To Sop </a>
                                                    </a>
                                                    <a class="btn btn-danger btn-sm ml-auto" style="margin-left: 618px" asp-controller="ShoppingCart" asp-action="Clear"> Clear </a>
                                                </h6>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Order Details -->
                                <div class="col-lg-4 order-details mt-lg-5">
                                    <div class="section-title text-center">
                                        <h3 class="title">Your Order</h3>
                                    </div>
                                    <div class="order-summary">

                                        <div class="order-col">
                                            <div><strong>PRODUCT</strong></div>
                                            <div><strong>TOTAL</strong></div>
                                        </div>
                                        <div class="order-products">
                                            @foreach (var item in Model.CartItems)
                                            {
                                                var totalPrice = item.Price * item.Quanity;
                                                <div class="order-col">
                                                    @item.Quanity<span style="margin-right: 0.2em;">x</span>@item.ProductName
                                                    <div>@totalPrice.ToString("#,##0") VNĐ</div>
                                                </div>
                                            }
                                        </div>
                                        <div class="order-col">
                                            <div>Shiping</div>
                                            <div><strong>FREE</strong></div>
                                        </div>
                                        <style>
                                            #total {
                                                white-space: nowrap; /* Ngăn chặn xuống dòng */
                                            }
                                        </style>
                                        <div class="order-col">
                                            
                                            <div><strong>DISCOUNT</strong></div>
                                            <div><strong class="discount-total">0 VND</strong></div>
                                           
                                        </div>
                                        <div class="order-col">
                                            
                                            
                                            <div><strong>TOTAL</strong></div>
                                            <div><strong id="total" class="order-total">@Model.Total.ToString("#,##0") VND</strong></div>
                                        </div>
                                    </div>
                                    <div class="payment-method">
                                        <div class="input-radio">
                                            <input type="radio" name="payment" id="payment-1">
                                            <label for="payment-1">
                                                <span></span>
                                                MOMO
                                            </label>
                                            <div class="caption">
                                                <p>Direct transfer via MOMO</p>
                                            </div>
                                        </div>
                                        <div class="input-radio">
                                            <input type="radio" name="payment" id="payment-2">
                                            <label for="payment-2">
                                                <span></span>
                                                    VNPAY
                                            </label>
                                            <div class="caption">
                                                <p>Direct transfer via Banking</p>
                                            </div>
                                        </div>
                                        <div class="input-radio">
                                            <input type="radio" name="payment" id="payment-3">
                                            <label for="payment-3">
                                                <span></span>
                                                Pay Later
                                            </label>
                                            <div class="caption">
                                                <p>Payment after receiving the items</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Your Voucher Code" aria-label="Nhập mã giảm giá" aria-describedby="button-addon2" id="voucher-input">
                                        <button class="btn btn-outline-secondary margin-bottom-20" type="button" id="apply-voucher-btn">Apply</button>
                                    </div>
                                    <div class="input-checkbox">
                                        <input type="checkbox" id="terms">
                                        <label for="terms">
                                            <span></span>
                                            I've read and accept the <a href="#">terms & conditions</a>
                                        </label>
                                    </div>
                                    @if (User.Identity?.IsAuthenticated ?? false)
                                    {   
                                        if (Model.CartItems.Count > 0)
                                        {
                                            <a class="primary-btn order-submit" id="place-order-btn">Place order</a>
                                        }
                                        else
                                        {
                                            <a  class="primary-btn order-submit">Empty</a>
                                        }

                                    }
                                    else
                                    {
                                        <a asp-action="Login" asp-controller="Account" class="primary-btn order-submit">Login For Place Order</a>
                                    }
                                </div>
                                <!-- /Order Details -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section scripts
{
    <script>
        var voucherApplied = false;
        document.getElementById("apply-voucher-btn").addEventListener("click", function () {
            if (!voucherApplied) {
                // Nếu voucher chưa được áp dụng trước đó, tiếp tục thực hiện hành động
                var Code = document.getElementById("voucher-input").value;
                var totalText = document.getElementById("total").innerText;
                var totalInt = parseInt(totalText.replace(/\D/g, ''));

                
                $.ajax({
                    url: '/ShoppingCart/ApplyVoucher',
                    type: 'POST',
                    data: {
                        voucherCode: Code,
                        total: totalInt
                    },
                    success: function (response) {
                        if (response.success) {
                            
                            var newTotalFormatted = response.newTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " VNĐ";
                            var discountvnd = response.discount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " VNĐ";
                            $('.order-total').text(newTotalFormatted);
                            $('.discount-total').text('-' + discountvnd);
                            alert(response.message);
                            voucherApplied = true; // Đặt biến cờ thành true để chỉ ra rằng voucher đã được áp dụng
                        } else {
                            alert("Lỗi: " + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            } else {
                // Nếu voucher đã được áp dụng trước đó, bạn có thể thông báo cho người dùng hoặc bỏ qua hành động
                alert("Voucher đã được áp dụng trước đó.");
            }
        });
       
         



    </script>
      
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var placeOrderBtn = document.getElementById("place-order-btn");
            var momoRadio = document.getElementById("payment-1");
            var vnPayRadio = document.getElementById("payment-2");
            var paylater = document.getElementById("payment-3");
            var urlMomo = "ShoppingCart/CreatePaymentUrl?total=@Model.Total";
            var urlVNPAY = "ShoppingCart/CreatePaymentVNPAYUrl?total=@Model.Total";
            var urlPay = "ShoppingCart/Payment?total=@Model.Total";
            placeOrderBtn.addEventListener("click", function (event) {
                if (momoRadio.checked) {
          
                    window.location.href = urlMomo;
                }
                else if (vnPayRadio.checked) {
                    window.location.href = urlVNPAY;
                }
                else if (paylater.checked)
                {
                    window.location.href = urlPay;
                }
                else {
                    $(".alert").css({
                        "display": "block",
                        "opacity": 1
                    });
                }
            });
        });
    </script>


}



