@model IEnumerable<Laptop.Models.NhaCungCap>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Thêm liên kết đến Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h2 class="text-center"> Nhà cung cấp </h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Tên nhà cung cấp
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Id nhà sản xuất
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tennhacc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdnhasxNavigation.Idnhasx)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idnhacc" class="btn btn-primary">Chỉnh sửa</a>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Idnhacc" class="btn btn-info">Chi tiết</a>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Idnhacc" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>


