@model Laptop.Models.Tintuc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">New details</h2>

<div class="p-lg-3">
    
    <hr />
    <dl class="dl-horizontal">
        <h4>
            Title
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <h4>
            Preview
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Contentspreview)
        </dd>
        <h4>
            Contents
        </h4>
        <dd>
            
                @Html.Raw(Model.Contents)
            
        </dd>
        
        
        <h4>
            Author
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <h4>
            Created Date
        </h4>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <h4>
            Status
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <h4>
            Hot
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Hot)
        </dd>
        <h4>
            Recently
        </h4>
        <dd>
            @Html.DisplayFor(model => model.New)
        </dd>
        <h4>
            Brand
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd
        <h4>
            Thumbnail
        </h4>
        <dd>
            <img src="~/Contents/img/@Model.Thumburl" />
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.PostID"> Go to Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Return</a>
</div>
