@model Laptop.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">NEWS DETAIL</h2>

<div class="p-lg-3">
    
    <hr />
    <dl class="dl-horizontal">
        <h4>
            Title
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <h4>
            Opening
        </h4>
        <dd>
            @Html.DisplayFor(model => model.ContentPreview)
        </dd>
        <h4>
            Content
        </h4>
        <dd>
            
                @Html.Raw(Model.Contents)
            
        </dd>        
        <h4>
            Author
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <h4>
            Create date
        </h4>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <h4>
            Status
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <h4>
            Hot news
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Hot)
        </dd>
        <h4>
            News
        </h4>
        <dd>
            @Html.DisplayFor(model => model.New)
        </dd>
        <h4>
            Brand news
        </h4>
        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>
