@model GiayDep.Models.SanPham
@{
    ViewData["Title"] = "NhapHangDon";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>NhapHangDon</h1>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="imgSP">
                    <img src="@Url.Content("~/Contents/img/ "+Model.Hinhanh1)" style="height:150px;width:150px;" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="ttSP">
                    <h3>Sản phẩm: @Model.Tensp</h3>
                    <h3>Hãng sản xuất: @Model.Manhacc</h3>
                    <h3>Loại sản phẩm: @Model.Maloaisp</h3>
                    <h3>Số lượng tồn: @Model.Soluong</h3>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h3>Thông tin nhập hàng</h3>
        <br />
        <form asp-controller="PhieuNhap" asp-action="NhapHangDon" method="post">
            <input type="hidden" asp-for="Idsp" />
            <div class="row">
                <div class="col-md-4">
                    Nhà cung cấp: <select asp-for="Manhacc" asp-items="ViewBag.MaNCC" class="MaNCC"></select>
                </div>
                <div class="col-md-4">
                    Số lượng nhập: <input asp-for="Soluong" />
                </div>
                <div class="col-md-4">
                    Đơn giá nhập: <input asp-for="Dongia" />
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="clear right mr-3" style="text-align:right;">
                <br />
                <input type="submit" class="btn btn-primary mr-2" value="Nhập hàng" />
                <a asp-controller="PhieuNhap" asp-action="DSSPHetHang" class="btn btn-sm btn-secondary font-weight-bold">Trở về</a>
            </div>
        </form>
    </div>
</div>
