@model Laptop.Models.ProductItem

@{
    ViewData["Title"] = "Delete";
}

<h2>XÓA SẢN PHẨM</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>ProductItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color.ColorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductItemsId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Trở về</a>
    </form>
</div>
