@model IEnumerable<Laptop.Models.ProductItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Danh Sách Sản Phẩm</h2>

<form class="d-flex" role="search">
    <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class="table-responsive" id="tbl">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductItemsId" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductItemsId" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductItemsId" class="btn btn-danger">Delete</a>
                        <a asp-action="Create" asp-controller="ProductVariations" asp-route-id="@item.ProductItemsId" class="btn btn-danger">Thêm Cấu Hình</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.search').on("keyup", function () {
            var myvalue = $(this).val().toLowerCase();

            $('#tbl tbody tr').each(function () {

                var data = $(this).text().toLowerCase();

                if (data.indexOf(myvalue) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show()
                }
            })
        })
    })
</script>