@model IEnumerable<Laptop.Models.ProductItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Danh Sách Sản Phẩm</h2>


<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductItemsId" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductItemsId" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductItemsId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
