@using Laptop.Models
@model Order
@{
    ViewData["Title"] = "DuyetDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    IEnumerable<OrdersDetail> lstChiTietDH = ViewBag.ListChiTietDH as IEnumerable<OrdersDetail>;
}

<h1>REVIEW ORDER</h1>
<div class="card">
    <div class="card-body">
        <h2 class="col-md-8">Order information</h2>
        <form asp-action="ApproveOrders" method="post">
            <div class="ChiTietDonHang table">
                <table class="table table-bordered" id="table">
                    @* Thông tin đơn hàng *@
                    <tr>
                        <td colspan="4">
                            <table style="width:100%" class="table-borderless">
                                <tr>
                                    <input type="hidden" asp-for="OrderId" />
                                    <td>Order ID: <b>@Model.OrderId <input type="hidden" name="MaDDH" value="@Model.OrderId" /></b></td>
                                    <td>Email customer: <b>@Model.Customer.UserName </b></td>
                                    <td>Order date: <b>@Model.OrderDate</b></td>
                                    <td>
                                        Paid:
                                        <input type="hidden" asp-for="Status" value="false" />
                                        <input readonly type="checkbox" asp-for="Status" onchange="updateCheckboxValue(this)" />
                                    </td>
                                    <td>
                                        Delivered:
                                        <input type="hidden" asp-for="Delivered" value="false" />
                                        <input type="checkbox" asp-for="Delivered" onchange="updateCheckboxValue(this)" />
                                    </td>


                                </tr>   
                            </table>

                        </td>
                    </tr>
                    @* Thông tin chi tiết đơn hàng *@
                    <tr>
                        <td><b>Product</b></td>
                        <td><b>Image</b></td>
                        <td><b>Order quantity</b></td>
                        <td><b>Unit price order</b></td>
                    </tr>
                    @foreach (var item in lstChiTietDH)
                    {
                        
                        <tr>
                            <td>@item.ProductVar.ProductItems.Product.ProductName</td>
                            <td><img width="100" height="100" src="@Url.Content("~/Contents/img/"+item.ProductVar.ProductItems.Image1)" /></td> 
                            <td>@item.Quanity</td>
                            <td>@item.Order.Total</td>
                        </tr>
                    }
                    <tr>
                        <td align="right" colspan="4">
                            <span class="mr-5">Total amount: @Model.OrdersDetails.Sum(n => n.Quanity) product</span>
                         @*    <span>Tổng tiền: @Model.OrdersDetails.Sum(n => n.ProductVar.ProductItems.Product.Price).Value.ToString("#,##") VNĐ</span> *@
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-sm-6">
                    <input type="button" value="Print order" class="btn btn-sm btn-success font-weight-bold" id="btnInDonHang" />
                    <input type="submit" value="Save order" class="btn btn-sm btn-primary font-weight-bold" id="btnLuuDonHang" />
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $('#btnInDonHang').click(function () {
        var content = "<table>" + $("#table").html() + "</table>";
        InDonHang(content);
    });

    function InDonHang(content) {
        var printWindow = window.open('', '', 'height=50%,width=100%');
        printWindow.document.write('<html><head><title>DIV contents</title>');
        printWindow.document.write('</head><body>');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
    <script>
        function updateCheckboxValue(checkbox) {
            if (checkbox.checked) {
                checkbox.previousElementSibling.value = "true"; // Nếu được chọn, đặt giá trị của hidden input thành "true"
            } else {
                checkbox.previousElementSibling.value = "false"; // Nếu không được chọn, đặt giá trị của hidden input thành "false"
            }
        }
</script>

</script>
