@using Laptop.Models
@model IEnumerable<Order>
@{
    ViewData["Title"] = "DaGiaoStatus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    int pageNo = 0;

    Page page = new Page();

    if (ViewBag.Page != null)
    {
        page = ViewBag.Page;
        pageNo = page.CurrentPage;
    }
}


<div class="card">
    <div class="card-body">
        <h2 class="col-md-8">Đơn Hàng Đã Hủy</h2>
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-4">
                    <form asp-controller="Order" asp-action="Cancel" method="get">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Tìm kiếm theo mã đơn hàng" name="orderId" min="1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="list" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã Đơn Hàng</th>
                            <th>Họ Tên Khách Hàng</th>
                            <th>Ngày đặt</th>
                            <th>Tình trạng đơn hàng</th>                      
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="order-row" style="cursor : pointer" data-order-id="@item.OrderId" data-detail="1">
                                <td>@item.OrderId</td>
                                <td>@(item.Customer != null ? item.Customer.Name : "Nhân Viên")</td>
                                <td>@item.OrderDate</td>
                                <td>@item.StatusNaviagtion.StatusName</td>   
                           </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class=" container">
    @if (page.TotalItems > 0)
    {
        <ul class="pagination justify-content-end">

            @if (page.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Order" asp-action="Cancel" asp-route-pg="1">Trang Đầu</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Order" asp-action="Cancel" asp-route-pg="@(page.CurrentPage - 1)">Trước</a>
                </li>
            }
            @for (var pge = page.StartPage; pge <= page.EndPage; pge++)
            {
                <li class="page-item @(pge == page.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Order" asp-action="Cancel" asp-route-pg="@pge">@pge </a>
                </li>
            }

            @if (page.CurrentPage < page.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Order" asp-action="Cancel" asp-route-pg="@(page.CurrentPage+1)">Tiếp</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Order" asp-action="Cancel" asp-route-pg="@(page.TotalPages)">Trang Cuối</a>
                </li>
            }

        </ul>

    }
    @for (var pge = page.StartPage; pge <= page.EndPage; pge++)
    {

    }
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $(".order-row").click(function () {
                var orderId = $(this).data("order-id");
                var detail = $(this).data("detail");
                window.location.href = "/orders/" + orderId + "?detail=" + detail;
            });
        });
    </script>
}