@model Laptop.Models.Warranty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Bảo hành</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            Ngày kết thúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            Lý do
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            Dịch vụ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class="col-sm-2">
            Tình trạng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            Khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            Đơn hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WarrantyId">Chỉnh sửa</a> |
    <a asp-action="Index">Trở về</a>
</div>
