@model IEnumerable<Order>
@{
    ViewData["Title"] = "ChuaGiao";
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Undelivered</h1>
<div class="card">
    <div class="card-body">
        <h2>Manage order (paid & undelivered)</h2>
        @if (Model != null && Model.Any())
        {
            <div id="list" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer name</th>
                            <th scope="col">order date</th>
                            <th scope="col">Delivered status</th>
                            <th scope="col">Delivered date</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Confirmation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.Customer != null ? item.Customer.UserName : "N/A")</td>
                                <td>@item.OrderDate</td>
                                <td>@item.Delivered</td>
                                <td>@item.DeliveryDate</td>
                                <td>@item.Status</td>
                                <td>
                                    @if (item.OrderId != null)
                                    {
                                        <a href="@Url.Action("ApproveOrders", "Order", new { id = item.OrderId })" target="_blank" class="btn btn-primary">Duyệt đơn</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No order to display.</p>
        }
    </div>
</div>
<div class=" container">
    @if (pager.TotalItems > 0)
    {
        <ul class="pagination justify-content-end">

            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class=" page-link" asp-asp-controller="Order" asp-action="PaidUndelivered" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class=" page-link" asp-asp-controller="Order" asp-action="PaidUndelivered" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Order" asp-action="PaidUndelivered" asp-route-pg="@pge">@pge </a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Order" asp-action="PaidUndelivered" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Order" asp-action="PaidUndelivered" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }

        </ul>

    }
    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
    {

    }
</div>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
