@model IEnumerable<Order>
@{
    ViewData["Title"] = "DaGiaoStatus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>ĐÃ ĐƯỢC GIAO, ĐÃ ĐƯỢC THANH TOÁN</h1>
<div class="card">
    <div class="card-body">
        <h2 class="col-md-8">Quản lí đơn hàng (Đã thanh toán & đã giao )</h2>
        @if (Model != null && Model.Any())
        {
            <div id="list" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Họ tên KH</th>
                            <th scope="col">Ngày đặt</th>
                            <th scope="col">Tình trạng giao hàng</th>
                            <th scope="col">Ngày giao</th>
                            <th scope="col">Đã thanh toán</th>
                            <th scope="col">Ưu đãi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Customer?.UserName</td>
                                <td>@item.OrderDate</td>
                                <td>@item.Delivered</td>
                                <td>@item.DeliveryDate</td>
                                <td>@item.Status</td>
                                <td>
                                    @if (item.OrderId != null)
                                    {
                                        <a href="@Url.Action("DuyetDonHang", "Invoice", new { id = item.OrderId })" target="_blank" class="btn btn-primary">Duyệt đơn</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Không có đơn hàng nào để hiển thị.</p>
        }
    </div>
</div>

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
