@model  IEnumerable<Order>
@{
    ViewData["Title"] = "ChuaThanhToan";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
        
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>CHƯA THANH TOÁN</h1>
<div class="card">
    <div class="card-body">
        <h2>Quản lí đơn hàng (Đã thanh toán & chưa giao )</h2>
        @if (Model != null && Model.Any())
        {
            <div id="list" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Email Khách Hàng</th>
                            <th scope="col">Ngày đặt</th>
                            <th scope="col">Tình trạng giao hàng</th>
                            <th scope="col">Đã thanh toán</th>
                            <th scope="col">Ngày giao</th>
                            <th scope="col">Xác Nhận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Customer?.UserName</td>
                                <td>@item.OrderDate</td>
                                <td>@item.Delivered</td>
                                <td>@item.Status</td>
                                <td>@item.DeliveryDate</td>
                                <td>
                                    @if (item.OrderId != null)
                                    {
                                        <a href="@Url.Action("ApproveOrders", "Order", new { id = item.OrderId })" target="_blank" class="btn btn-primary">Duyệt đơn</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Không có đơn hàng nào để hiển thị.</p>
        }
    </div>
</div>
<div class=" container">
    @if (pager.TotalItems > 0)
    {
    <ul class="pagination justify-content-end">

        @if (pager.CurrentPage >1)
            {
                <li class="page-item">
                    <a class=" page-link" asp-asp-controller="Order" asp-action="Unpaid" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class=" page-link" asp-asp-controller="Order" asp-action="Unpaid" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                <a class="page-link" asp-controller="Order" asp-action="Unpaid" asp-route-pg="@pge">@pge </a>
            </li>
        }

        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Order" asp-action="Unpaid" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
            </li>
            <li>
                <a class="page-link" asp-controller="Order" asp-action="Unpaid" asp-route-pg="@(pager.TotalPages)">Last</a>
            </li>
        }

     </ul>

    }
    @for (var pge = pager.StartPage; pge<=pager.EndPage;pge++)
    {

    }
</div>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
