@model Laptop.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h2 class="text-center"> Chi tiết </h2>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên sản phẩm:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tensp)
        </dd>
        <dt class="col-sm-2">
            Đơn giá:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt class="col-sm-2">
            Số lượng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class="col-sm-2">
            Bảo hành:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Baohanh)
        </dd>
        <dt class="col-sm-2">
            Khuyến mãi:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Khuyenmai)
        <dt class="col-sm-2">
            Mô tả:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
           Mã loại sản phẩm:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaloaispNavigation.Idloai)
        </dd>
        <dt class="col-sm-2">
            Mã nhà cung cấp:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManhaccNavigation.Idnhacc)
        </dd>
        <dt class="col-sm-2">
            Mã nhà sản xuất
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ManhaccNavigation.Idnhasx)
        </dd>
        <dt class="col-sm-2">
            <img src="~/Contents/img/@Model.Hinhanh1" class="thumbnail-image" />
        </dt>
        <dt class="col-sm-2">
            <img src="~/Contents/img/@Model.Hinhanh2" class="thumbnail-image" />
        </dt>
        <dt class="col-sm-2">
            <img src="~/Contents/img/@Model.Hinhanh3" class="thumbnail-image" />
        </dt>
        <dt class="col-sm-2">
            <img src="~/Contents/img/@Model.Hinhanh4" class="thumbnail-image" />
        </dt>
        <dt class="col-sm-2">
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idsp" class="btn btn-primary">Chỉnh sửa</a> |
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
</div>

<style>
    .thumbnail-image {
        max-width: 100px; /* Adjust the maximum width as needed */
        max-height: 100px; /* Adjust the maximum height as needed */
    }
</style>
