@model GiayDep.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center"> Chi tiết </h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tensp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Baohanh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Baohanh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Khuyenmai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Khuyenmai)
        </dd>
        <td>
            <img class="thumbnail-image" src="~/Contents/@Model.Hinhanh1" />
        </td>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaloaispNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaloaispNavigation.Idloai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManhaccNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManhaccNavigation.Idnhacc)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idsp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .thumbnail-image {
        max-width: 100px; /* Adjust the maximum width as needed */
        max-height: 100px; /* Adjust the maximum height as needed */
    }
</style>