@model IEnumerable<GiayDep.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý sản phẩm</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Warranty
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Image
                </th>
                <th>
                    Description
                </th>
                <th>
                    Category
                </th>
                <th>
                    Supplier
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tensp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dongia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soluong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Baohanh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Khuyenmai)
                    </td>
                    <td>
                        <img class="thumbnail-image" src="~/Contents/img/@item.Hinhanh1" alt="Product Image" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaloaispNavigation.Idloai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManhaccNavigation.Idnhacc)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Idsp">Edit</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Idsp">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Idsp">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .thumbnail-image {
        max-width: 100px;
        max-height: 100px;
    }
</style>
