@model IEnumerable<GiayDep.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dongia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baohanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khuyenmai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinhanh1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaloaispNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManhaccNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baohanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khuyenmai)
           
                <td>
                    <img class="thumbnail-image" src="~/Contents/img/@item.Hinhanh1" />
                </td>
            
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaloaispNavigation.Idloai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManhaccNavigation.Idnhacc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idsp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idsp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idsp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .thumbnail-image {
        max-width: 100px; /* Adjust the maximum width as needed */
        max-height: 100px; /* Adjust the maximum height as needed */
    }
</style>