@using Laptop.ViewModels
@model InvoiceViewModel
@{
    ViewData["Title"] = "NhapHangDon";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ProductVariation product = ViewBag.Product as ProductVariation;
}

<h1>IMPORT PRODUCT</h1>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="imgSP">
                    <img src="@Url.Content("~/Contents/img/"+ product.ProductItems.Image1)" style="height:150px;width:150px;" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="ttSP">
                    <h3>Product: @product.ProductItems.Product.ProductName</h3>
                    <h3>Brand: @product.ProductItems.Product.Brand</h3>
                    <h3>Category: @product.ProductItems.Product.Category</h3>
                    <h3>Color: @product.ProductItems.Color.ColorName</h3>
                    <h3>Ram: @product.Ram.RamName</h3>
                    <h3>Ssd: @product.Ssd.Ssdname</h3>
                  @*   <h3>Màu: @product.Size.Size1</h3> *@
            
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h3>Invoice information</h3>
        <br />
    
  
        <form asp-controller="Invoice" asp-action="NhapHangDon" method="post">
            <input type="hidden" asp-for="ProductVarId" value="@product.ProductVarId"/>
            <div class="row">

                <div class="col-md-4">
                    Supplier: <select asp-for="SupplierId" asp-items="ViewBag.Suppliers"></select>
                </div>
               <div class="col-md-4">
                    Import quantity: <input asp-for="Quantity" />
                </div>
                <div class="col-md-4">
                    Unit price import: <input asp-for="Price" />
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="clear right mr-3" style="text-align:right;">
                <br />
                <input type="submit" class="btn btn-success" value="Import" />
                <a asp-controller="Invoice" asp-action="DSSPHetHang" class="btn btn-sm btn-secondary font-weight-bold">Back</a>
            </div>
        </form>
    </div>
</div>
