@model Laptop.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoucherQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoucherCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
