@model Laptop.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h2>VOUCHER DETAIL</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Disount
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            Quantity
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherQuantity)
        </dd>
        <dt>
            Start date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            End date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.VoucherCode">Edit</a> |
    <a class="btn btn-dark" asp-action="Index">Back</a>
</div>
