@model Laptop.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h2>CHI TIẾT MÃ KHUYẾN MÃI</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Khuyễn mãi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt>
            Số lượng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherQuantity)
        </dd>
        <dt>
            Ngày bắt đầu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            Ngày kết thúc
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.VoucherCode">Sửa</a> |
    <a class="btn btn-dark" asp-action="Index">Trở về</a>
</div>
