@model IEnumerable<Laptop.Models.Voucher>

@{
    ViewData["Title"] = "Index";
}

<h2>VOUCHER</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Add new</a>
</p>
<div id="list" class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Vouvher code
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Start date
                </th>
                <th>
                    End date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.VoucherCode">Edit</a> |
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.VoucherCode">Detail</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VoucherCode">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
