@model Laptop.Models.Color

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColorHex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColorHex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdColor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
