@model IEnumerable<Laptop.Models.Color>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorHex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
                <td>
                    <div style="background-color: @item.ColorHex; width: 20px; height: 20px;"></div>
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdColor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdColor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdColor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
