@model IEnumerable<Laptop.Models.Color>

@{
    ViewData["Title"] = "Index";
} 

<h2>COLOR</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ColorName)
                </th>
             <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorName)
                </td>
                <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ColorId">Edit</a> |
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ColorId">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ColorId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>